@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
 --primeira-cor: rgb(37, 37, 37) ;
 --segunda-cor: beige ;
 --terceira-cor:  rgb(167, 165, 165);
 --quarta-cor: rgb(27, 25, 25) ;
 --quinta-cor:  rgb(15, 15, 15);
 --sexta-cor: azure ;

 --fonte-primeiro: "Figtree" , sans-serif ;
 --fonte-segundo: "Quicksand" , sans-serif ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
    background-color: rgb(37, 37, 37) ;
    color: beige;
}

span {
  font-size: x-large;
  font-family: var(--fonte-primeiro);
  background-color: var(--terceira-cor);
}

img {
  width: 100%;
  max-width: 250px;
  height: auto;
  box-shadow: 0 1px 2px #0003;
}

.swiper {
  height: 500px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabeçalho__principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 1.2em;
  flex-wrap: wrap; 
  gap: 10px;
  background: linear-gradient(120deg,#a8a7a8ef, #686767, #2d2e2e, #535353);
  background-size: 300% 300%;
  animation: border-animation 3s ease infinite;
}

.apresentacao-container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.cabeçalho__menu__link,
.cabeçalho__menu__link2 {
  
  font-family: var(--fonte-segundo);
  background-color: var(--quinta-cor);
  color: var(--sexta-cor);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
}

.apresentaçao-input {
  border: 3px solid black;
  border-radius: 24px;
  padding: 1.2em;
  margin: 0 auto;
  display: block;
  width: 90%;
  max-width: 500px;
}

.apresentaçao__principal__titulo {
  font-family: var(--fonte-primeiro);
  padding: 1px;
}

.container--gif {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  text-align: center;
}

.container--titulo {
  width: 100%;
  text-align: left;   
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  perspective: 600px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.1s ease-out;
  pointer-events: none;
}

.container--texto {
  font-family: var(--fonte-segundo);
  font-size: 1.5em;
  padding: 2em;
  color: bisque grey;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 20px 0;
}

.carousel-container {
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 100%;
}

.carousel-container::-webkit-scrollbar {
  display: none;
}

.carousel {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.carousel-title {
  font-size: 24px;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-family: var(--fonte-primeiro);
}

.carousel-arrow {
  position: absolute;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  transition: 0.3s;
  padding: 10px;
  user-select: none;
}

.carousel-arrow:hover {
  transform: translateY(-50%) scale(1.2);
}

.carousel-arrow.left {
  left: 0;
}

.carousel-arrow.right {
  right: 0;
}

.video-card {
  min-width: 220px;
  height: 320px;
  cursor: pointer;
  transition: 0.3s;
}

.video-card:hover {
  transform: scale(1.05);
}

.video-gradient-border {
  padding: 3px;
  background: linear-gradient(45deg, #ff0055, #5500ff, #00eaff);
  border-radius: 15px;
  height: 100%;
}

.video-content {
  background: #111;
  border-radius: 12px;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.video-title {
  color: white;
  font-size: 18px;
  padding: 8px 0;
}

.video-thumb {
  width: 100%;
  height: 70%;
  object-fit: cover;
   border-bottom: 2px solid #000;
}

.video-play {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.video-play img {
  width: 50px;
  opacity: 0.8;
}

.container--text{
  font-family: var(--fonte-segundo);
  font-size: 1.2em;
  color: beige;
  text-align: center;
}

.rodape__sobre {
  text-align: center;
  background-color: rgb(15, 15, 15);
  color:rgb(250, 246, 246);
  padding: 10px;
  font-weight: 400;
  font-size: 1.3em;
  font-family: var(--fonte-segundo);
}

.rodape__sobre__texto {
  font-family: var(--fonte-segundo);
  font-size: 1.3em;
}

.rodape__link__sobre {
  font-family: var(--fonte-segundo);
  background-color: rgb(15, 15, 15);
  color: azure;
  border-radius: 2px;
  text-decoration: none;
  padding: 0.5px;
}

.rodape__link__sobre2 {
  font-family: var(--fonte-segundo);
  background-color: rgb(15, 15, 15);
  color: azure;
  border-radius: 2px;
  text-decoration: none;
  padding: 1px;
}

.rodape__sobre__img {
  width: 28px !important;
  height: 28px !important;
  max-width: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 500px) {
 
  .cabeçalho__principal {
    flex-direction: column;
    text-align: center;
  }

  .cabeçalho__menu__link,
  .cabeçalho__menu__link2 {
    margin: 5px 0;
    font-size: 1em;
  }

  .swiper {
    height: 300px;
  }

  img {
    max-width: 180px;
  }

  .rodape__sobre {
    padding: 15px;        
    font-size: 1.1em;     
    text-align: center;   
  }

  .rodape__link__sobre {
    padding: 1px;     
    font-size: 1em;

  }
}


@media screen and (max-width:450px) {
    .swiper {
      height: 270px;
    }
}