@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
 --primeira-cor: rgb(37, 37, 37) ;
 --segunda-cor: beige ;
 --terceira-cor:  rgb(167, 165, 165);
 --quarta-cor: rgb(27, 25, 25) ;
 --quinta-cor:  rgb(15, 15, 15);
 --sexta-cor: azure ;

 --fonte-primeiro: "Figtree" , sans-serif ;
 --fonte-segundo: "Quicksand" , sans-serif ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
    background-color: rgb(37, 37, 37) ;
    color: beige;
}

span {
  font-size: x-large;
  font-family: var(--fonte-primeiro);
  background-color: var(--terceira-cor);
}

img {
  width: 100%;
  max-width: 250px;
  height: auto;
  box-shadow: 0 1px 2px #0003;
}

.swiper {
  height: 500px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cabeçalho__principal {
  background-color: var(--terceira-cor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  font-size: 1.2em;
  flex-wrap: wrap; 
  gap: 10px;
}

.apresentacao-container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}

.cabeçalho__menu__link,
.cabeçalho__menu__link2 {
  
  font-family: var(--fonte-segundo);
  background-color: var(--quinta-cor);
  color: var(--sexta-cor);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
}
.apresentaçao-input {
  border: 3px solid black;
  border-radius: 24px;
  padding: 1.2em;
  margin: 0 auto;
  display: block;
  width: 90%;
  max-width: 500px;
}

.apresentaçao__principal__titulo {
  font-family: var(--fonte-primeiro);
  padding: 1px;
}

.rodape__sobre {
  text-align: center;
  background-color: rgb(167, 165, 165);
  color: rgb(27, 25, 25);
  padding: 10px;
  font-weight: 400;
  font-size: 1.3em;
  font-family: var(--fonte-segundo);
}

.rodape__link__sobre {
  font-family: var(--fonte-segundo);
  background-color: rgb(15, 15, 15);
  color: azure;
  border-radius: 2px;
  text-decoration: none;
  padding: 0.5px;
}

.rodape__link__sobre2 {
  font-family: var(--fonte-segundo);
  background-color: rgb(15, 15, 15);
  color: azure;
  border-radius: 2px;
  text-decoration: none;
  padding: 1px;
}


@media screen and (max-width: 500px) {
 
  .cabeçalho__principal {
    flex-direction: column;
    text-align: center;
  }

  .cabeçalho__menu__link,
  .cabeçalho__menu__link2 {
    margin: 5px 0;
    font-size: 1em;
  }

  .swiper {
    height: 300px;
  }

  img {
    max-width: 180px;
  }

  .rodape__sobre {
    padding: 15px;        
    font-size: 1.1em;     
    text-align: center;   
  }

  .rodape__link__sobre {
    padding: 1px;     
    font-size: 1em;

  }
}


@media screen and (max-width:450px) {
    .swiper {
      height: 270px;
    }
}

